body {
  background-color: gray;
}
#pasto {
  background-color: green;
  border: 1px solid black;
  height: 600px;
  padding: 20px;
  position: relative;
  width: 1200px;
}
#Cancha {
  border: 8px solid white;
  height: 100%;
  position: relative;
  box-sizing: border-box;
}
.porteria {
  width: 120px;
	height: 200px;
	border: 5px solid white;
	display: inline-block;
	position: relative;
	top: 30%;
}
.izq {
  margin-left: -2px;
  position: relative;
  top: 208px;
}
.der {
  margin-left: 1061px;
  position: relative;
  top: 0;
}
#centro {
    width: 200px;
  	height: 200px;
  	border: 5px solid white;
    display: inline-block;
    position: relative;
    margin-left: 500px;
    top: -208px;
    border-radius: 100%;
}
img.balonA {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  left: 80px;
  top: 220px;
  position: absolute;
}
img.balonB {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  left: 600px;
  top: 150px;
  position: absolute;
}
img.balonC {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  left: 1000px;
  top: 400px;
  position: absolute;
}
